<div class="panel panel-default">
	<div class="panel-heading">
		<a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples - included</h4>
	</div>
	<div class="panel-body">
		<div class="list-group">
			<a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
			<a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
			<a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
		</div>
	</div>
</div>